@*@model E_Procurement.WebUI.Models.AccountModel.ChangePasswordModel*@
<div id="modaldemo1" class="modal fade">
    <div class="modal-dialog modal-dialog-vertical-center" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Change Password</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="form2" role="form" asp-controller="Account" asp-action="ChangePassword" method="post">
                <div class="modal-body pd-25">
                    <div class="form-group col-sm-12">
                        <label class="form-control-label">Current Password: <span class="tx-danger">*</span></label>
                        <input id="CurrentPassword"  name="CurrentPassword" class="form-control" type="password" placeholder="Enter Current Password" required>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="form-control-label">New Password: <span class="tx-danger">*</span></label>
                        <input id="Password" name="Password" class="form-control" type="password" placeholder="Enter Password" required>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="form-control-label">Confirm New  Password: <span class="tx-danger">*</span></label>
                        <input id="ConfirmPassword" name="ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info pd-x-20">Save Changes</button>
                    <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div><!-- modal-dialog -->
</div>